assets/*
lib/
!assets/brightcove_placeholder.png
!assets/swipe-left-gesture.svg
!assets/the-economist-logo.svg
!assets/the-economist-logo.png
node_modules/
*-assets.json
*-inline.json
bundle.css
print-bundle.css
.DS_Store
test/output/
.cidfile
*.tmp
last_commit.txt
test/visual/bitmaps_test/
test/visual/backstop_data/
*.log
Dockerrun.aws.json
.idea
/coverage
.vscode/
env.*
/reports
/assets.json
